!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LanpartyManagement
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .layout
      .layout--flashes.-signed-out= render 'layouts/flashes'
      .layout--main
        .layout--content.-signed-out= yield
        .layout--bottom= render 'layouts/footer'
